{{ define "main" -}}

<div><a class="td-offset-anchor"></a></div>
<section
  class="row td-box td-box--primary position-relative td-box--height-auto"
>
  <div class="col-12">
    <div class="container text-center td-arrow-down">
      <span class="h4 mb-0">
        <h1>{{ T "community_join" . }}</h1>
        <p>{{ T "community_introduce" . }}</p>
      </span>
    </div>
  </div>
</section>

<!-- 新增的问卷模块开始 -->
<section class="row td-box td-box--light">
  <div class="col-12 text-center">
    <h2>{{ T "vendor_join" . }}</h2>
    <p>{{ T "vendor_join_yes" . }}</p>
    <a href="https://bytedance.us.feishu.cn/share/base/form/shrusIMqwz6phhrkuVJF4pEQ1wd" target="_blank" class="btn btn-primary">{{ T "form_fill" . }}</a>
  </div>
</section>
<!-- 新增的问卷模块结束 -->

{{ partial "community_links.html" . -}}

{{ with .Content -}}
<div class="td-content">
{{ . }}
</div>
{{- end -}}

{{ end }}
